<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue</title>
    
</head>
<body>
{% block content %}

  <div>user: {{name}}</div>

  <div class="form-box">
    <div class="wrapper">
      <!-- <form action="/issuebooksubmission/" method="post"></form> -->
      <form method="post">
        {% csrf_token %}
        <label for="book">Book id:</label>
        <input type="text" name="book" class="form-control" id="book" required/>

        <label for="format">category:</label>
        <select name="format" class="form-control" id="format">
          <option value="AB">Audiobook</option>
          <option value="EB">Ebook</option>
          <option value="HC">Hardcover</option>
          <option value="JN">Journal</option>
          <option value="MG">Magazine</option>
          <option value="NW">Newspaper</option>
          <option value="PB">Paperback</option>
        </select>

        <label for="borrowed_date">Borrow date:</label>
        <input type="datetime-local" id="borrowed_date" name="borrowed_date">

        <label for="due_date">Due date:</label>
        <input type="datetime-local" id="due_date" name="due_date">

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

    {% if error %}
        <div> {{ error }} </div>
    {% endif %}
    
    {% if success %}
        <div> {{ success }} </div>
    {% endif %}

{% endblock %}
</body>
</html>